# Here you test something

Cols meaning:
- Day - day of the month
- DKind - day kind
- SIL - sport intensity level - has six levels from 0 - didn't exercise to 5 - hard exercise (More info in a separate message)
- OD - outdoor
- LE - left-eye reading
- JG - juggling
- GM - gaming

(Separate message about SIL)
Exercise intensity notation:
- 0 - you didn't exercise
- 1 - easy
- 2 - between easy and moderate
- 3 - moderate
- 4 - between moderate and hard
- 5 - hard

In [1]:
import numpy as np
import pandas as pd

from preparation.prepare_data import prepare_data
from constants import PATH, APPEND_PATH, PREVIOUS_DATA_FOLDER

DAY_OFFS = [2,4]
DESIRED_MEAN_VALUE = 240
report_data, wide_use_data = prepare_data(PATH, DAY_OFFS, DESIRED_MEAN_VALUE)
month, mean, std, min_to_study, df = wide_use_data
df

c:\Users\San\Documents\CS projects\time_counter\preparation\calc_study_data.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Total"] = total_per_day

   Day  DKind  Math   CS  Eng  Total  Sport  SIL   OD  LE  JG   GM
0    1   work    60  140   40    240      1    4   75   0   0   60
1    2  relax     0  145   15    160      2    2  100  10  10   90
2    3   work    85  145   32    262      2    0  105   0   0    0
3    4  relax     0   36   50     86      2    0   90   0   0   20
4    5   work     0  120  232    352      3    3   30   0   0  145
5    6   work    90    5    0     95      3    0    0   0   0    0

In [2]:
# somehow you need to figure out how to count how many days
# passed since you last had exercise of a particular intensity
# also, count how many days passed since the last time you exercised
nonstudy_df = df[["Day", "Sport", "SIL", "OD", "LE", "JG", "GM"]]
nonstudy_df

   Day  Sport  SIL   OD  LE  JG   GM
0    1      1    4   75   0   0   60
1    2      2    2  100  10  10   90
2    3      2    0  105   0   0    0
3    4      2    0   90   0   0   20
4    5      3    3   30   0   0  145
5    6      3    0    0   0   0    0

In [38]:
exercise_intensity = []
for intensity in range(0, 6):
    try:
        exercise_intensity.append(
            {f"{intensity}": nonstudy_df[nonstudy_df["SIL"] == intensity]["Day"].iloc[-1]})
    except IndexError:
        print(
            f"You didn't have exercise of intensity level {intensity} this month")
        # exercise_intensity.append({f"{intensity}": None})
        exercise_intensity.append({f"{intensity}": 1e2})
exercise_intensity

You didn't have exercise of intensity level 1 this month
You didn't have exercise of intensity level 5 this month

[{'0': 6}, {'1': 100.0}, {'2': 2}, {'3': 5}, {'4': 1}, {'5': 100.0}]

In [36]:
last_day_of_data = nonstudy_df["Day"].iloc[-1]
last_day_of_data

6

In [ ]:
nonstudy_df[nonstudy_df["SIL"] == intensity][["Day", "SIL"]].iloc[-1]

In [3]:
nonstudy_df["SIL"].idxmin()

2

In [4]:
# a bunch of message ideas
f"""
The last time you had exercise of intensity level {} was {}
"""
"""
The last time you had exercise of intensity level 4 was a day ago (Feb2)
"""
"The last time you juggled was 3 days ago"
"The last time you read with your left eye was 3 days ago"
"This month you played games for 30 hours"
"This month you've been outdoors for 30 hours"

SyntaxError: f-string: empty expression not allowed (3403522053.py, line 4)

In [ ]:
dir()

['DAY_OFFS',
 'DESIRED_MEAN_VALUE',
 'In',
 'Out',
 'PATH',
 '_',
 '_6',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '__vsc_ipynb_file__',
 '_dh',
 '_i',
 '_i1',
 '_i2',
 '_i3',
 '_i4',
 '_i5',
 '_i6',
 '_i7',
 '_i8',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'append_report',
 'calc_req_study_time',
 'calc_study_data',
 'categorise',
 'cur_stats',
 'df',
 'exit',
 'generate_report',
 'get_ipython',
 'handle_day_offs',
 'handle_nonstudy_data',
 'mean',
 'min_to_study',
 'month',
 'nonstudy_df',
 'np',
 'os',
 'pd',
 'plot_data',
 'prepare_data',
 'prepare_initial_df',
 'quit',
 'report_data',
 'std',
 'sys',
 'wide_use_data']

In [ ]:
# maybe this func is gonna belong to 'monitoring' package
def sport_stats():
    """
    (Example)
    You exercised this month: 10 times
    Last time you got medium exercise: 3 days ago
    Last time you got hard exercise: 7 days ago
    """
    pass