# Here you test something

Cols meaning:
- Day - day of the month
- DKind - day kind
- EC - exercise count
- EI - exercise intensity - has six levels from 0 - didn't exercise to 5 - hard exercise (More info in a separate message)
- OD - outdoor
- LE - left-eye reading
- RN - running
- GM - gaming

(Separate message about EI)
Exercise intensity notation:
- 0 - you didn't exercise
- 1 - easy
- 2 - between easy and moderate
- 3 - moderate
- 4 - between moderate and hard
- 5 - hard

In [1]:
import numpy as np
import pandas as pd

from app.preparation.prepare_data import prepare_data
from app.constants import PATH, APPEND_PATH, PREVIOUS_DATA_FOLDER, DESIRED_MEAN_VALUE

rep_data, wide_use_data, feedback_data = prepare_data(PATH, DESIRED_MEAN_VALUE)
month, mean, std, df = wide_use_data
df

c:\Users\San\Documents\CS projects\time_counter\app\preparation\initial_preparation.py:46: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  month = df.iloc[0][0]

    Day  DKind  Math   CS  Eng  Total  EC  EI   OD  LE  RN   GM
0     1   work     0  250   11    261   1   5  217   0  20    0
1     2   work    65  260   70    395   2   4   40   0   0    0
2     3   work     0  335   16    351   3   2  161  20   0    0
3     4   work     0  316   66    382   3   0   90   0   0    0
4     5   work     0  360   28    388   4   5  230   0   0    0
5     6   work     0  485   16    501   5   4  166  20  15    0
6     7   work     0  431    8    439   6   3  153  20   0    0
7     8   work     0  220    5    225   7   5  230   0   0    0
8     9  relax     0  170    5    175   7   0  182   0   0  148
9    10   work     0  292   79    371   8   4  248  20  20    0
10   11   work     0  254   22    276   9   4  162   0   0    0
11   12   work     0  150    0    150   9   0    0   0   0    0

In [2]:
rep_data

([2, 96, 27, 125, 259, 7, '1, 10, 11, 16, 18, 22, 29'],
 [['OD', 'LE', 'RN', 'GM'],
  20,
  [61.95, 4.75, 2.75, 31.4],
  [29, 14, 8, 8],
  {1: 5, 2: 1, 3: 4, 4: 9, 5: 1}])