# Here you test something

Cols meaning:
- Day - day of the month
- DKind - day kind
- EC - exercise count
- EI - exercise intensity - has six levels from 0 - didn't exercise to 5 - hard exercise (More info in a separate message)
- OD - outdoor
- LE - left-eye reading
- JG - juggling
- GM - gaming

(Separate message about EI)
Exercise intensity notation:
- 0 - you didn't exercise
- 1 - easy
- 2 - between easy and moderate
- 3 - moderate
- 4 - between moderate and hard
- 5 - hard

In [1]:
import numpy as np
import pandas as pd

from preparation.prepare_data import prepare_data
from constants import PATH, APPEND_PATH, PREVIOUS_DATA_FOLDER

DAY_OFFS = [2, 4]
DESIRED_MEAN_VALUE = 240
st_rep_data, wide_use_data, nonst_data = prepare_data(PATH, DAY_OFFS, DESIRED_MEAN_VALUE)
month, mean, std, min_to_study, df = wide_use_data
df

c:\Users\San\Documents\CS projects\time_counter\preparation\calc_study_data.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Total"] = total_per_day

    Day  DKind  Math   CS  Eng  Total  EC  EI   OD  LE  JG   GM
0     1   work    60  140   40    240   1   4   75   0   0   60
1     2  relax     0  145   15    160   2   2  100  10  10   90
2     3   work    85  145   32    262   2   0  105   0   0    0
3     4  relax     0   36   50     86   2   0   90   0   0   20
4     5   work     0  120  232    352   3   3   30   0   0  145
5     6   work    90   95   60    245   3   0  195   5   0    0
6     7   work    35  100  146    281   4   2   60   5   0   85
7     8   work    55  190   35    280   5   4   60   0  15    0
8     9   work    60  205   20    285   5   0  120   5   0   20
9    10   work    30  215   13    258   5   0  120   5   0    0
10   11   work    50  175   49    274   6   3   75  10  20    0
11   12   work     0    0  130    130   6   0   40   0   0  150
12   13   work     0   45   11     56   6   0   75   0   0  185
13   14   work     0  255   68    323   7   2   90   0  15   88
14   15   work    20  195   82    297   8   3  140   0   0   50
15   16   work     0   70    0     70   8   0    0   0   0    0

In [2]:
st_rep_data

[8, 36, 16, 60, 225, 2, '2, 4']

In [3]:
nonst_data

[16,
 8,
 {1: 100, 2: 14, 3: 15, 4: 8, 5: 100},
 {1: 0, 2: 3, 3: 3, 4: 2, 5: 0},
 ['OD', 'LE', 'JG', 'GM'],
 [22.92, 0.67, 1.0, 14.88],
 [15, 6, 4, 10]]

In [4]:
cur_day, ex_count, EI_last, EI_count, cols, hs_total_per_col, day_count_per_col = nonst_data

In [5]:
math_hs, cs_hs, eng_hs, total_hs, mean_full_data, day_offs_count, day_offs_str = st_rep_data

In [6]:
# somehow you need to figure out how to count how many days
# passed since you last had exercise of a particular intensity
# also, count how many days passed since the last time you exercised
nonstudy_df = df[["Day", "EC", "EI", "OD", "LE", "JG", "GM"]]
nonstudy_df

    Day  EC  EI   OD  LE  JG   GM
0     1   1   4   75   0   0   60
1     2   2   2  100  10  10   90
2     3   2   0  105   0   0    0
3     4   2   0   90   0   0   20
4     5   3   3   30   0   0  145
5     6   3   0  195   5   0    0
6     7   4   2   60   5   0   85
7     8   5   4   60   0  15    0
8     9   5   0  120   5   0   20
9    10   5   0  120   5   0    0
10   11   6   3   75  10  20    0
11   12   6   0   40   0   0  150
12   13   6   0   75   0   0  185
13   14   7   2   90   0  15   88
14   15   8   3  140   0   0   50
15   16   8   0    0   0   0    0

In [7]:
EI_last, EI_count

({1: 100, 2: 14, 3: 15, 4: 8, 5: 100}, {1: 0, 2: 3, 3: 3, 4: 2, 5: 0})

In [8]:
# current_day = nonstudy_df["Day"].iloc[-1]
cur_day

16

In [9]:
# cols = ["OD", "LE", "JG", "GM"]
for i in range(len(cols)):
    if cols[i] == "OD":
        print("Outdoor")
    elif cols[i] == "LE":
        print("LE reading")
    elif cols[i] == "JG":
        print("Juggling")
    elif cols[i] == "GM":
        print("Gaming")
    print(f"    Total hours: {hs_total_per_col[i]}")
    print(f"    Days count: {day_count_per_col[i]}")
# possible sport part
print("Exercise")
print("    Total:")
print("        15")
print("    EI count:")
print("        1: 3")
print("        2: 5")
# etc etc

Outdoor
    Total hours: 22.92
    Days count: 15
LE reading
    Total hours: 0.67
    Days count: 6
Juggling
    Total hours: 1.0
    Days count: 4
Gaming
    Total hours: 14.88
    Days count: 10
Exercise
    Total:
        15
    EI count:
        1: 3
        2: 5

In [11]:
# that's monitoring stuff - daily stats
def give_EI_feedback(EI_dir, current_day):
    for key,value in EI_dir.items():
        # for every EI, count how many days passed since 
        # the last time you had exercise of that intensity
        difference = current_day - value
        print(f"EI level '{key}': last exercised", end=" ")
        # handle negative values (no data for this particular
        # month), 0 (exercised today) etc
        if difference < 0:
            print("not this month")
        elif difference == 0:
            print("today")
        elif difference == 1:
            print("1 day ago")
        elif difference > 1:
            print(f"{difference} days ago")
            
give_EI_feedback(EI_last, cur_day)

EI level '1': last exercised not this month
EI level '2': last exercised 2 days ago
EI level '3': last exercised 1 day ago
EI level '4': last exercised 8 days ago
EI level '5': last exercised not this month

In [ ]:
# a bunch of message ideas
f"""
The last time you had exercise of intensity level {} was {}
"""
"""
The last time you had exercise of intensity level 4 was a day ago (Feb2)
"""
"The last time you juggled was 3 days ago"
"The last time you read with your left eye was 3 days ago"
"This month you played games for 30 hours"
"This month you've been outdoors for 30 hours"

SyntaxError: f-string: empty expression not allowed (3403522053.py, line 4)

In [ ]:
# maybe this func is gonna belong to 'monitoring' package
def sport_stats():
    """
    (Example)
    You exercised this month: 10 times
    Last time you got medium exercise: 3 days ago
    Last time you got hard exercise: 7 days ago
    """
    pass