In [1]:
import numpy as np
import pandas as pd

from preparation import prepare_data
from calculation import calculate_data
from handle_reports import generate_report, append_report
from monitoring import cur_stats
from plotting import plot_data

Here you test something

In [2]:
PATH = "C:/Users/San/Documents/inf/time monitoring/test_data.txt"
DAY_OFFS = []

In [3]:
# month, df, day_offs_count, day_offs_str = prepare_data(PATH, DAY_OFFS)

Exercise intensity notation:
- 0 - you didn't exercise
- 1 - easy
- 2 - between easy and moderate
- 3 - moderate
- 4 - between moderate and hard
- 5 - hard

In [5]:
# Create list of colnames
colnames = ["Day", "Math", "CS", "Eng", "Sport", "Intensity", "Outdoor", "LE", "Jug", "Gaming"]
# Load data into df with sep equal to ':' and '_'
df = pd.read_csv(
    filepath_or_buffer=PATH, sep="[:_-]", names=colnames,
    header=None, engine="python")
df

   Day  Math   CS  Eng Sport  Intensity Outdoor   LE   Jug Gaming
0   17    90   85  131   pa9          3    ou60  le5   ju0  ga240
1   18    80  110   70  pa10          3    ou60  le5   ju0   ga65
2   19    70   90   65  pa10          0    ou70  le0  ju10  ga260
3   20    70   70   35  pa11          3    ou40  le5   ju0  ga150

In [14]:
# in the cols below first two symbols are for easier
# identification while writing the data
cols_to_shorten = ["Sport", "Outdoor", "LE", "Jug", "Gaming"]
# many thanks to https://stackoverflow.com/a/42349635/11749578
for col in cols_to_shorten:
    df[col] = df[col].str[2:]

In [15]:
df

   Day  Math   CS  Eng Sport  Intensity Outdoor LE Jug Gaming
0   17    90   85  131     9          3      60  5   0    240
1   18    80  110   70    10          3      60  5   0     65
2   19    70   90   65    10          0      70  0  10    260
3   20    70   70   35    11          3      40  5   0    150