# Here you test something

Cols meaning:
- Day - day of the month
- DKind - day kind
- EC - exercise count
- EI - exercise intensity - has six levels from 0 - didn't exercise to 5 - hard exercise (More info in a separate message)
- OD - outdoor
- LE - left-eye reading
- JG - juggling
- GM - gaming

(Separate message about EI)
Exercise intensity notation:
- 0 - you didn't exercise
- 1 - easy
- 2 - between easy and moderate
- 3 - moderate
- 4 - between moderate and hard
- 5 - hard

In [1]:
import numpy as np
import pandas as pd

from preparation.prepare_data import prepare_data
from constants import PATH, APPEND_PATH, PREVIOUS_DATA_FOLDER

DAY_OFFS = []
DESIRED_MEAN_VALUE = 275
report_data, wide_use_data = prepare_data(PATH, DAY_OFFS,
                                              DESIRED_MEAN_VALUE)
month, mean, std, min_to_study, df, EI_last = wide_use_data
df

   Day DKind  Math   CS  Eng  Total  EC  EI   OD  LE  JG  GM
0    1  work     0  212   11    223   1   2  120   0   0   0
1    2  work    90  110  133    333   2   3   80   0  15   0
2    3  work    40  202    2    244   3   1   60   5  25  41
3    4  work     0    5    0      5   3   0    0   0   0   0

In [2]:
report_data

([2, 9, 2, 13, 201, 0, 'you studied every day'],
 [['OD', 'LE', 'JG', 'GM'],
  3,
  [4.33, 0.08, 0.67, 0.68],
  [3, 1, 2, 1],
  {1: 1, 2: 1, 3: 1, 4: 0, 5: 0}])