# Here you test something

Cols meaning:
- Day - day of the month
- DKind - day kind
- EC - exercise count
- EI - exercise intensity - has six levels from 0 - didn't exercise to 5 - hard exercise (More info in a separate message)
- OD - outdoor
- LE - left-eye reading
- RN - running
- GM - gaming

(Separate message about EI)
Exercise intensity notation:
- 0 - you didn't exercise
- 1 - easy
- 2 - between easy and moderate
- 3 - moderate
- 4 - between moderate and hard
- 5 - hard

In [4]:
import numpy as np
import pandas as pd

from preparation.prepare_data import prepare_data
from constants import PATH, APPEND_PATH, PREVIOUS_DATA_FOLDER

DAY_OFFS = []
DESIRED_MEAN_VALUE = 275
rep_data, wide_use_data, feedback_data = prepare_data(PATH, DAY_OFFS,
                                              DESIRED_MEAN_VALUE)
month, mean, std, df = wide_use_data
df

   Day DKind  Math   CS  Eng  Total  EC  EI   OD  LE  RN  GM
0    1  work     0    0   43     43   1   2  130   0   0   0
1    2  work     0  265   15    280   1   0  105   0   0   0
2    3  work     0    5    7     12   1   0    0   0   0   0

In [5]:
rep_data

([0, 4, 1, 6, 112, 0, 'you studied every day'],
 [['OD', 'LE', 'RN', 'GM'],
  1,
  [3.92, 0.0, 0.0, 0.0],
  [2, 0, 0, 0],
  {1: 0, 2: 1, 3: 0, 4: 0, 5: 0}])

# Working with 'hobby' data

In [17]:
import re
import pandas as pd

# Read the text file with UTF-8 encoding
with open("2023 - What I read, watched and played.txt", "r", encoding="utf-8") as file:
    content = file.read()

print(content)

Books:
1. "The Republic of Thieves: Gentleman Bastards" by Scott Lynch | audiobook on January 5, 2023
2. "Hyperion" by Dan Simmons | audiobook on January 13, 2023
3. "Propaganda" by Edward Bernays | audiobook on January 17, 2023
4. "The Fall of Hyperion" by Dan Simmons | audiobook on January 23, 2023
5. "Джури-характерники" by Володимир Рутківський on January 23, 2023
6. "Zen in the Art of Writing" by Ray Bradbury | audiobook on January 25, 2023
7. "The Final Empire: Mistborn, Book 1" by Brandon Sanderson | audiobook on February 2, 2023
8. "The Well of Ascension: Mistborn, Book 2" by Brandon Sanderson | audiobook on February 4, 2023
9. "The Hero of Ages: Mistborn: Book 3" by Brandon Sanderson | audiobook on February 6, 2023
10. "Factotum" by Charles Bukowski | audiobook on February 9, 2023
11. "Ham on Rye" by Charles Bukowski | audiobook on February 12, 2023
12. "Warbreaker" by Brandon Sanderson on February 13, 2023
13. "Hollywood" by Charles Bukowski | audiobook on February 16, 2023
14. "Pulp" by Charles Bukowski | audiobook on February 18, 2023
15. "Project Hail Mary" by Andy Weir | audiobook on February 28, 2023
16. "The Two Towers" | The Lord of the Rings, Book 2 | by J.R.R. Tolkien | audiobook on March 1, 2023
17. "Сезон Гроз" by Анджей Сапковський on March 5, 2023
18. "The Return of the King" | The Lord of the Rings, Book 3 | by J.R.R. Tolkien | audiobook on March 12, 2023
19. "Black Flags, Blue Waters: The Epic History of America's Most Notorious Pirates" by Eric Jay Dolin | audiobook on March 20, 2023
20. "Vietnam: An Epic Tragedy, 1945-1975" by Max Hastings | audiobook on April 13, 2023
21. "Things I'll Never Forget: Memories of a Marine in Viet Nam" by James M. Dixon | audiobook on April 21, 2023
22. "The Invisible Man" by H.G. Wells | audiobook on April 26, 2023
23. "The Importance of Being Earnest" by Oscar Wilde | audiobook on April 27, 2023
24. "Hot Water Music" by Charles Bukowski | audiobook on May 1, 2023
25. "Women" by Charles Bukowski | audiobook on May 11, 2023
26. "Thunder Below!: The USS Barb Revolutionizes Submarine Warfare in World War II" by Eugene B. Fluckey | audiobook on May 28, 2023
27. "Тотальний Опір, ч.1" by Ганс Дах on June 2, 2023
28. "The 48 Laws of Power" by Robert Greene | audiobook on June 4, 2023
29. "The Red Prince" by Timothy Snyder | audiobook on June 13, 2023
30. "Bloodlands: Europe Between Hitler and Stalin" by Timothy Snyder | audiobook on June 22, 2023
31. "Вежа Блазнів" by Анджей Сапковський on June 27, 2023
32. "The Hitchhiker's Guide to the Galaxy" by Douglas Adams | audiobook on June 30, 2023
33. "The Restaurant at the End of the Universe" by Douglas Adams | audiobook on July 12, 2023
34. "And Then There Were None" by Agatha Christie | audiobook on July 17, 2023
35. "The Lost World" by Sir Arthur Conan Doyle | audiobook on July 23, 2023
36. "Troy: The Siege of Troy Retold" by Stephen Fry | audiobook on July 28, 2023
37. "The Importance of Being Earnest" by Oscar Wilde | audiobook on July 31, 2023
38. "The Enchiridion of Epictetus" by Epictetus | audiobook on August 4, 2023
39. "Seneca: On the Shortness of Life" by Seneca | audiobook on August 4, 2023
40. "Seneca: Of Tranquility of Mind" by Seneca | audiobook on August 4, 2023
41. "The Hatchet" by Gary Paulsen | audiobook on August 7, 2023


Movies:
1. Romancing the Stone on Jan 6, 2023
2. Star Trek: The Wrath of Khan on Jan 15, 2023
3. Greyhound on Jan 16, 2023
4. The Thing on Jan 19, 2023
5. Blazing Saddles on Jan 22, 2023
6. Citizen Kane on Jan 25, 2023
7. Midnight Run on Jan 27, 2023
8. Unforgiven on Jan 30, 2023
9. Falling Down on Jan 30, 2023
10. Puss in Boots: The Last Wish on Feb 8, 2023
11. Puss in Boots: The Last Wish on Feb 10, 2023
12. The Family Man on Feb 19, 2023
13. Lawrence of Arabia 1962 on Apr 1, 2023
14. The Dirty Dozen 1967 on Apr 3, 2023
15. The Last of the Mohicans on Apr 5, 2023
16. Stripes 1981 on Apr 5, 2023
17. Heat 1995 on Apr 5, 2023
18. Die Hard on Apr 8, 2023
19. Pulp Fiction on Apr 16, 2023
20. Serenity on Apr 17, 2023
21. Apocalypse Now on Apr 22, 2023
22. The Fifth Element on Apr 26, 2023
23. Red Heat on Apr 26, 2023
24. Demolition Man on Apr 27, 2023
25. Hot Fuzz on Apr 29, 2023
26. The 40 Year Old Virgin on May 11, 2023
27. Cleopatra on Jun 13, 2023
28. One Flew Over the Cuckoo's Nest on Jul 13, 2023
29. We Were Soldiers on Jul 19, 2023


Games:
1. Marvel's Guardians of the Galaxy on Jan 15, 2023 (25 hours)
2. Titanfall 2 on February 19, 2023 (6 hours)
3. Yakuza Like a Dragon on March 18, 2023 (55 hours)
4. Endless Space 2 on March 25, 2023 (42 hours)
5. Kena: Bridge of Spirits on May 9, 2023 (12 hours)
6. Black Mesa on May 29, 2023 (17 hours)
7. Deus Ex Human Revolution on June 8, 2023 (40 hours)
8. Dishonored 1 on June 20, 2023 (18 hours)


Series:
1. Generation Kill on Jul 30, 2023
2. The Expanse Season 1 on Aug 1, 2023
3. The Expanse Season 2 on Aug 2, 2023
4. The Expanse Season 3 on Aug 5, 2023
5. The Expanse Season 4 on Aug 5, 2023
6. The Expanse Season 5 on Aug 8, 2023


Sport:
1. 5 Day Yoga Challenge 2023 on Jan 22, 2023
2. ENERGIZE - YWA June 2022 on Mar 4, 2023
3. 30 Days of Yoga on June 19, 2023


Courses:
1. Applied Plotting, Charting & Data Representation in Python on Feb 15, 2023
2. Calculus for Machine Learning and Data Science by DeepLearning.AI on Mar 22, 2023
3. Linear Algebra for Machine Learning and Data Science by DeepLearning.AI on Apr 7, 2023
4. Probability & Statistics for Machine Learning and Data Science by DeepLearning.AI on July 31, 2023

In [18]:
# Find the section for movies
movies_section = re.search(r"Movies:(.*?)Games:", content, re.DOTALL).group(1).strip()

# Initialize a list to store movie data
movie_data = []

# Define a regular expression pattern for extracting movie information
movie_pattern = re.compile(r'(?:"([^"]+)".*on ([A-Za-z]+ \d{1,2}, \d{4}))')

# Extract movie information using the pattern
movie_data.extend(movie_pattern.findall(movies_section))

# Create a pandas DataFrame for movies
movies_df = pd.DataFrame(movie_data, columns=["Title", "Watching Date"])

# Print the DataFrame (you can later add it to a database)
print("Movies DataFrame:")
print(movies_df)

Movies DataFrame:
Empty DataFrame
Columns: [Title, Watching Date]
Index: []