# Here you test something

Cols meaning:
- Day - day of the month
- DKind - day kind
- EC - exercise count
- EI - exercise intensity - has six levels from 0 - didn't exercise to 5 - hard exercise (More info in a separate message)
- OD - outdoor
- LE - left-eye reading
- JG - juggling
- GM - gaming

(Separate message about EI)
Exercise intensity notation:
- 0 - you didn't exercise
- 1 - easy
- 2 - between easy and moderate
- 3 - moderate
- 4 - between moderate and hard
- 5 - hard

In [15]:
import numpy as np
import pandas as pd

from preparation.prepare_data import prepare_data
from constants import PATH, APPEND_PATH, PREVIOUS_DATA_FOLDER

DAY_OFFS = [2, 4, 12, 13, 19]
DESIRED_MEAN_VALUE = 240
report_data, wide_use_data = prepare_data(PATH, DAY_OFFS,
                                              DESIRED_MEAN_VALUE)
month, mean, std, min_to_study, df, EI_last = wide_use_data
df

c:\Users\San\Documents\CS projects\time_counter\preparation\calc_study_data.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Total"] = total_per_day

    Day  DKind  Math   CS  Eng  Total  EC  EI   OD  LE  JG   GM
0     1   work    60  140   40    240   1   4   75   0   0   60
1     2  relax     0  145   15    160   2   2  100  10  10   90
2     3   work    85  145   32    262   2   0  105   0   0    0
3     4  relax     0   36   50     86   2   0   90   0   0   20
4     5   work     0  120  232    352   3   3   30   0   0  145
5     6   work    90   95   60    245   3   0  195   5   0    0
6     7   work    35  100  146    281   4   2   60   5   0   85
7     8   work    55  190   35    280   5   4   60   0  15    0
8     9   work    60  205   20    285   5   0  120   5   0   20
9    10   work    30  215   13    258   5   0  120   5   0    0
10   11   work    50  175   49    274   6   3   75  10  20    0
11   12  relax     0    0  130    130   6   0   40   0   0  150
12   13  relax     0   45   11     56   6   0   75   0   0  185
13   14   work     0  255   68    323   7   2   90   0  15   88
14   15   work    20  195   82    297   8   3  140   0   0   50
15   16   work    35  165   10    210   8   0  120   5   0  110
16   17   work    45  260   10    315   9   1   75   5  15    0
17   18   work    70  135   10    215   9   0  140   0  22    0
18   19  relax     0    5   10     15  10   4   70   0   0  440
19   20   work    10  123    5    138  10   0   60   0   0    0

In [16]:
report_data

([11, 46, 17, 74, 221, 5, '2, 4, 12, 13, 19'],
 [['OD', 'LE', 'JG', 'GM'],
  10,
  [30.67, 0.83, 1.62, 24.05],
  [20, 8, 6, 12],
  {1: 1, 2: 3, 3: 3, 4: 3, 5: 0}])

In [17]:
# somehow you need to figure out how to count how many days
# passed since you last had exercise of a particular intensity
# also, count how many days passed since the last time you exercised
nonstudy_df = df[["Day", "EC", "EI", "OD", "LE", "JG", "GM"]]
nonstudy_df

    Day  EC  EI   OD  LE  JG   GM
0     1   1   4   75   0   0   60
1     2   2   2  100  10  10   90
2     3   2   0  105   0   0    0
3     4   2   0   90   0   0   20
4     5   3   3   30   0   0  145
5     6   3   0  195   5   0    0
6     7   4   2   60   5   0   85
7     8   5   4   60   0  15    0
8     9   5   0  120   5   0   20
9    10   5   0  120   5   0    0
10   11   6   3   75  10  20    0
11   12   6   0   40   0   0  150
12   13   6   0   75   0   0  185
13   14   7   2   90   0  15   88
14   15   8   3  140   0   0   50
15   16   8   0  120   5   0  110
16   17   9   1   75   5  15    0
17   18   9   0  140   0  22    0
18   19  10   4   70   0   0  440
19   20  10   0   60   0   0    0

In [18]:
EI_last

{1: 17, 2: 14, 3: 15, 4: 19, 5: 100}

In [19]:
# current_day = nonstudy_df["Day"].iloc[-1]
cur_day = df["Day"].iloc[-1]
cur_day

20

In [20]:
# that's monitoring stuff - daily stats
def give_EI_feedback(EI_dir, current_day):
    print("Regarding Exercise Intensity...")
    for key,value in EI_dir.items():
        # for every EI, count how many days passed since 
        # the last time you had exercise of that intensity
        difference = current_day - value
        print(f"EI level '{key}': last exercised", end=" ")
        # handle negative values (no data for this particular
        # month), 0 (exercised today) etc
        if difference < 0:
            print("not this month")
        elif difference == 0:
            print("today")
        elif difference == 1:
            print("1 day ago")
        elif difference > 1:
            print(f"{difference} days ago")
            
give_EI_feedback(EI_last, cur_day)

Regarding Exercise Intensity...
EI level '1': last exercised 3 days ago
EI level '2': last exercised 6 days ago
EI level '3': last exercised 5 days ago
EI level '4': last exercised 1 day ago
EI level '5': last exercised not this month

In [21]:
# maybe this func is gonna belong to 'monitoring' package
def sport_stats():
    """
    (Example)
    You exercised this month: 10 times
    Last time you got medium exercise: 3 days ago
    Last time you got hard exercise: 7 days ago
    """
    pass