# Here you test something

Cols meaning:
- Day - day of the month
- DKind - day kind
- EC - exercise count
- EI - exercise intensity - has six levels from 0 - didn't exercise to 5 - hard exercise (More info in a separate message)
- OD - outdoor
- LE - left-eye reading
- RN - running
- GM - gaming

(Separate message about EI)
Exercise intensity notation:
- 0 - you didn't exercise
- 1 - easy
- 2 - between easy and moderate
- 3 - moderate
- 4 - between moderate and hard
- 5 - hard

In [4]:
import numpy as np
import pandas as pd

from preparation.prepare_data import prepare_data
from constants import PATH, APPEND_PATH, PREVIOUS_DATA_FOLDER

DAY_OFFS = []
DESIRED_MEAN_VALUE = 275
rep_data, wide_use_data, feedback_data = prepare_data(PATH, DAY_OFFS,
                                              DESIRED_MEAN_VALUE)
month, mean, std, df = wide_use_data
df

   Day DKind  Math   CS  Eng  Total  EC  EI   OD  LE  RN  GM
0    1  work     0    0   43     43   1   2  130   0   0   0
1    2  work     0  265   15    280   1   0  105   0   0   0
2    3  work     0    5    7     12   1   0    0   0   0   0

In [5]:
rep_data

([0, 4, 1, 6, 112, 0, 'you studied every day'],
 [['OD', 'LE', 'RN', 'GM'],
  1,
  [3.92, 0.0, 0.0, 0.0],
  [2, 0, 0, 0],
  {1: 0, 2: 1, 3: 0, 4: 0, 5: 0}])

# Working with 'hobby' data

In [9]:
import re
import pandas as pd

PATH = "text.txt"
# PATH = "2023 - What I read, watched and played.txt"
# Read the text file with UTF-8 encoding
with open(PATH, "r", encoding="utf-8") as file:
    content = file.read()

print(content)

Books:
1. "Seneca: Of Tranquility of Mind" by Seneca | audiobook on August 4, 2023
2. "The Hatchet" by Gary Paulsen | audiobook on August 7, 2023


Movies:
1. Romancing the Stone on Jan 6, 2023
2. Star Trek: The Wrath of Khan on Jan 15, 2023
3. Greyhound on Jan 16, 2023
4. The Thing on Jan 19, 2023


Games:
1. Marvel's Guardians of the Galaxy on Jan 15, 2023 (25 hours)
2. Titanfall 2 on February 19, 2023 (6 hours)

In [10]:
# Find the 'Movies:' section using the regular expression
movies_section = re.search(r"Movies:(.*?)(?=\n\n|$)", content, re.DOTALL).group(1).strip()

# Print the extracted movies section
print("Movies Section:")
print(movies_section)

Movies Section:
1. Romancing the Stone on Jan 6, 2023
2. Star Trek: The Wrath of Khan on Jan 15, 2023
3. Greyhound on Jan 16, 2023
4. The Thing on Jan 19, 2023