In [1]:
import numpy as np
import pandas as pd

from preparation import prepare_data
from calculation import calculate_data
from handle_reports import generate_report, append_report
from monitoring import cur_stats
from plotting import plot_data

Here you test something

In [2]:
PATH = "C:/Users/San/Documents/inf/time monitoring/test_data.txt"
DAY_OFFS = []

In [3]:
# month, df, day_offs_count, day_offs_str = prepare_data(PATH, DAY_OFFS)

In [4]:
# Create list of colnames
colnames = ["Day", "Math", "CS", "Eng", "Sport", "SIL", "OD", "LE", "Jug", "GMG"]
# Load data into df with sep equal to ':' and '_'
df = pd.read_csv(
    filepath_or_buffer=PATH, sep="[:_-]", names=colnames,
    header=None, engine="python")
df

            Day  Math     CS    Eng Sport  SIL    OD    LE   Jug    GMG
0  January 2023   NaN    NaN    NaN  None  NaN  None  None  None   None
1            17  90.0   85.0  131.0   pa9  3.0  ou60   le5   ju0  ga240
2            18  80.0  110.0   70.0  pa10  3.0  ou60   le5   ju0   ga65
3            19  70.0   90.0   65.0  pa10  0.0  ou70   le0  ju10  ga260
4            20  70.0   70.0   35.0  pa11  3.0  ou40   le5   ju0  ga150

In [5]:
# Create var 'month' with df data from row 0 and col 0
month = df.iloc[0][0]
# Drop the row 0 where 'month' was
df.drop(index=0, inplace=True)
# Reset index, so it again starts with 0
df = df.reset_index(drop=True)

In [6]:
# small func used in lambda expression
def categorise(row, DAY_OFFS):
    if row["Day"] in DAY_OFFS:
        return "relax"
    return "work"

In [7]:
# in the cols below first two symbols are for easier
# identification while writing the data. Many thanks
# to https://stackoverflow.com/a/42349635/11749578
cols_to_shorten = ["Sport", "OD", "LE", "Jug", "GMG"]
for col in cols_to_shorten:
    df[col] = df[col].str[2:]
# Convert all col dtypes to int64
df[colnames] = df[colnames].astype("int64")
# Create a new col with info about whether
# you work or relax on a particular day
df["DKind"] = df.apply(lambda row: categorise(row, DAY_OFFS), axis=1)
# Create two day_offs vars for generate_report
# func. With these two vars, reports will
# provide a more detailed picture of the month
day_offs_count = len(DAY_OFFS)
if day_offs_count > 0:
    day_offs_str = ', '.join(map(str, DAY_OFFS))
else:
    day_offs_str = "you studied every day"
# Rearrange order of cols
cols = df.columns.tolist()
cols = [cols[0]] + [cols[-1]] + cols[1:-1]

In [8]:
df = df[cols]

Cols meaning:
- Day - day of the month
- DKind - day kind
- SIL - sport intensity level - has six levels from 0 - didn't exercise to 5 - hard exercise (More info in a separate message)
- OD - outdoor
- LE - left-eye reading
- Jug - juggling
- GMG - gaming

Exercise intensity notation:
- 0 - you didn't exercise
- 1 - easy
- 2 - between easy and moderate
- 3 - moderate
- 4 - between moderate and hard
- 5 - hard

In [9]:
df

   Day DKind  Math   CS  Eng  Sport  SIL  OD  LE  Jug  GMG
0   17  work    90   85  131      9    3  60   5    0  240
1   18  work    80  110   70     10    3  60   5    0   65
2   19  work    70   90   65     10    0  70   0   10  260
3   20  work    70   70   35     11    3  40   5    0  150

In [10]:
df.dtypes

Day       int64
DKind    object
Math      int64
CS        int64
Eng       int64
Sport     int64
SIL       int64
OD        int64
LE        int64
Jug       int64
GMG       int64
dtype: object

In [11]:
df_study = calculate_data(df.iloc[:, :5], 240)
df_study

KeyError: 'Sport'

In [ ]:
df

   Day  Math   CS  Eng Sport  Intensity Outdoor LE Jug Gaming
0   17    90   85  131     9          3      60  5   0    240
1   18    80  110   70    10          3      60  5   0     65
2   19    70   90   65    10          0      70  0  10    260
3   20    70   70   35    11          3      40  5   0    150